#search_content{
    width: 210px;
}

#adduserinfo{
    width: 90px;
    height: 30px;
    border: 1px solid #eee;
    float: right;
    text-align: center;
    line-height: 30px;
    background: #8b449c;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

#adduserinfo:hover{
    background: #5e256b;
}

.pagination{
    float:right;
}


.btn-default{
    color: #666;
    background: #ccc;
    border: 1px solid #bbb;
}

.btn-default:hover, .btn-default.disabled, .btn-default[disabled]{
    background-color: #7c7c7c;
    border-color: #7b7b7b;
    color: #fff;
}



#add_sex > .label.label-default{
    padding: 5px 18px;
    margin-right: 8px;
    cursor:pointer;
    opacity:0.9;
}

#add_sex > .label.label-default.contor{
    background: #79c447;
    color: #fff;
}

#add_sex > .label.label-default:hover{
    opacity:1;
}


#SetUserModal input{
    width: 100%;
    border: none;
    outline: none;
}

input[type=date]{
    line-height: 19px;
}

#add_department{
    width: 100%;
    border: none !important;
    outline: none !important;
    background: transparent !important;
    box-shadow: none !important;
    padding-left: 0px;
}

select{
    width: 100%;
    height: 100%;
    border: none !important;
    outline: none;
    resize:none;
    -webkit-box-shadow: none !important;
}

#addnewflow{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #5994ce;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}



#add_cncflow{
    width: 90px;
    height: 30px;
    border: 1px solid #eee;
    float: right;
    text-align: center;
    line-height: 30px;
    background: #8b449c;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

#add_cncflow:hover{
    background: #5e256b;
}


#datalist{
    width: calc(50% - 1px);
    float: left;
    margin-right: 1px;
}

#datalist1{
    width:50%;
    float:left;
}


#AddFlowModal input{
    width:100%;
    height:100%;
    resize:none;
    outline:none;
    border:none;
}


#AddFlowModal textarea{
    resize:none;
    outline:none;
    border:none;
    width: 100%;
    height: 80px;
}


#AddFlowModal i.choice{
    border: 1px solid #bbb;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    color: transparent;
}

#AddFlowModal i.choice.contor{
        color: #fff;
    background: #79c447;
}



#EditFlowModal i.choice{
    border: 1px solid #bbb;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    color: transparent;
}

#EditFlowModal i.choice.contor{
        color: #fff;
    background: #79c447;
}


#EditFlowModal input{
    width:100%;
    height:100%;
    resize:none;
    outline:none;
    border:none;
}


#EditFlowModal textarea{
    resize:none;
    outline:none;
    border:none;
    width: 100%;
    height: 80px;
}



#form_tb > tr.contor > td{
    background:rgb(218, 250, 223);
}




#datalist1 > .panel-heading > .binduser{
    width: 60px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
    background: #428bca;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

#datalist1 > .panel-heading > .binduser:active{
    background: #1e588a;
}




#datalist1 > .panel-heading > .binduser.disabled{
    background:#999;
    color:#fff;
    cursor:initial;
}

#datalist1 > .panel-heading > .binduser.disabled:active{
    background:#999;
    color:#fff;
}


#binduserlist{
    width:100%;
    height:100%;
    border:none;
    resize:none;
    outline:none;
}